# Gemini API Key configuration
GEMINI_API_KEY=YOUR_GEMINI_API_KEY_HERE

# Database configuration
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=rascript

# Unique Ports
FRONTEND_PORT=4268
BACKEND_PORT=8100
POSTGRES_PORT=6354
